<%= form_for(@todo_list) do |f| %>

  <% if @todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% @todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div> <!-- /#error_explanation-->
  <% end %>

  <div class="form-group label-floating is-empty">
    <%= f.text_field :title, class: 'form-control', id: 'title' %>
  </div> <!-- /.form-group -->

  <div class="form-group label-floating is-empty">
      <%= f.text_area :description, class: 'form-control', id: 'description' %>
  </div> <!-- /.form-group -->

  <div class="actions">
    <%= f.submit 'Edit todo list', class: "btn btn-block btn-raised btn-success" %>
  </div><!-- /.actions -->
  
<% end %>